{namespace header.global.primary}

/**
 */
{template .homeLink}
<h1 id="logo" class="aui-header-logo aui-header-logo-bitbucket">
    <a href="{nav_base_url()}" class="stash">
        <span class="aui-header-logo-device">{productName()}</span>
    </a>
</h1>
{/template}
